	* {
  margin: 0px;
  padding: 0px; 
  font-size:0.14rem;
  box-sizing:border-box;
  }
ul, li {
  list-style: none; }
a{ text-decoration:none; color:#333;}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 625%; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; }

input {
  -webkit-appearance: none; }
html,body,.wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}
.wrap{
	display:flex;
	flex-direction:column;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	.header{
		height:.5rem;
		line-height:.5rem;
		text-align:center;
		color:#fff;
		background:#393A3F;
	}
}
.dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	position:absolute;
	top:0;
	left:0;
	z-index:999;
	.mask{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:90%;
		margin:auto;
		height:70%;
		background:#fff;
		border-radius:8px;
		overflow:hidden;
	}
}
.logo{
	text-align:center;
	p{
		width:49%;
		height:.45rem;
		margin:auto;
		margin-top:.33rem;
		margin-bottom:8px;
		img{
			width:100%;
			height:100%;
		}
	}
	span{
		font-size:.16rem;	
	}
}
.info{
	margin-top:.4rem;
	padding:0 .3rem;
	li{
		border-bottom:1px solid #ccc;
		display:flex;
		height:.43rem;
		position:relative;
		input{
			flex:1;
			border:none;
			padding-left:.4rem;
			outline:none;
			padding-right:.1rem;
		}
		span{
			width:.15rem;
			height:.2rem;
			position:absolute;
			left:.1rem;
			top:.11rem;
			img{
				width:100%;
				height:100%;
			}
		}
	}
}
button{
	width:80%;
	padding:0 .3rem;
	margin-top:.3rem;
	margin-left:10%;
	height:.38rem;
	text-align:cemter;
	line-height:.38rem;
	background:#2FBA77;
	background:#fff;
	color:#fff;
	border:none;
	border-radius:8px;
	outline:none;
}